<!DOCTYPE html>
<html>
<head>
	<title>RESTful Blog</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
	<nav id="navbar">
		
			<li><a href="/">Home</a></li>
			<li><a href="/blogs/new">New Blog</a></li>
			<li><a href="">Contact</a></li>
		
	</nav>
